/* 320px (iPhone) */
@media screen and (max-width:320px) {
  .hero h1 {
    letter-spacing: 6px; 
  }
}
/* 480px (WVGA - Low End Windows Phone) */
@media screen and (max-width:480px) {
  .hero {
    padding: 30px 0 200px 0;
  }
  .inner {
    padding-top: 140px;
  }
}