/* ==========================================================================
General
========================================================================== */
.text-shadow {
  text-shadow: 0px 0px 1rem rgba(0,0,0,1);
}
.absolute {
  position: absolute;
}
/* ==========================================================================
Hero
========================================================================== */
.hero * {
  color: #fff !important;
}
.hero h1 span { 
  padding-left: 1rem;
}
.hero p {
  font-size: 18px;
}

.overlay-effect .overlay a.expand {
  bottom: 0;
  margin: 0 auto 0 auto;
  top: 0;
}

/* ==========================================================================
Features
========================================================================== */
.shadow { text-shadow: 
  hsla(191, 100%, 32%, 1) 1px 1px, 
  hsla(191, 100%, 32%, 1) 2px 2px, 
  hsla(191, 100%, 32%, 1) 3px 3px, 
  hsla(191, 100%, 32%, 1) 4px 4px, 
  hsla(191, 100%, 32%, 1) 5px 5px, 
  hsla(191, 100%, 32%, 1) 6px 6px, 
  hsla(191, 100%, 32%, 1) 7px 7px, 
  hsla(191, 100%, 32%, 1) 8px 8px, 
  hsla(191, 100%, 32%, 1) 9px 9px, 
  hsla(191, 100%, 32%, 1) 10px 10px, 
  hsla(191, 100%, 33%, 1) 11px 11px, 
  hsla(191, 100%, 33%, 1) 12px 12px, 
  hsla(191, 100%, 33%, 1) 13px 13px, 
  hsla(191, 100%, 33%, 1) 14px 14px, 
  hsla(191, 100%, 33%, 1) 15px 15px, 
  hsla(191, 100%, 33%, 1) 16px 16px, 
  hsla(191, 100%, 33%, 1) 17px 17px, 
  hsla(191, 100%, 33%, 1) 18px 18px, 
  hsla(191, 100%, 34%, 1) 19px 19px, 
  hsla(191, 100%, 34%, 1) 20px 20px, 
  hsla(191, 100%, 34%, 1) 21px 21px, 
  hsla(191, 100%, 34%, 1) 22px 22px, 
  hsla(191, 100%, 34%, 1) 23px 23px, 
  hsla(191, 100%, 34%, 1) 24px 24px, 
  hsla(191, 100%, 35%, 1) 25px 25px, 
  hsla(191, 100%, 35%, 1) 26px 26px, 
  hsla(191, 100%, 35%, 1) 27px 27px, 
  hsla(191, 100%, 35%, 1) 28px 28px, 
  hsla(191, 100%, 36%, 1) 29px 29px, 
  hsla(191, 100%, 36%, 1) 30px 30px; 
}

/* ==========================================================================
Contact
========================================================================== */
.up-btn {
  background: rgba(0, 150, 184, 0.5);
}
.up-btn:hover, up-btn:focus {
  background: rgba(0, 150, 184, 1); 
}

/* ==========================================================================
Navigation
========================================================================== */
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  background: #fff; 
}

#nav-home {
    position: absolute;
    top: -7px;
    left: 15px;
    width: 85px;
    cursor: pointer;
}